name: SliverPy
on:
  push:
    tags: v[0-9]+.[0-9]+.[0-9]+
    branches: master

jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    if: startsWith( github.ref, 'refs/tags/v')
    timeout-minutes: 45

    steps:

    - uses: actions/setup-python@v2
      with:
        python-version: '3.x'
        architecture: 'x64'

    - name: Python Setup
      run: python3 -m pip install --upgrade build

    - name: Check Out Code
      uses: actions/checkout@v2

    - name: Package
      run: python3 -m build

    - name: Github Release
      uses: "marvinpinto/action-automatic-releases@latest"
      with:
        repo_token: "${{ secrets.GITHUB_TOKEN }}"
        prerelease: false
        files: |
          ./dist/*